USE [master]
GO
/****** Object:  Database [Bitm_University_Management_DB]    Script Date: 1/30/2016 2:20:40 AM ******/
CREATE DATABASE [Bitm_University_Management_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Bitm_University_Management_DB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.REUD\MSSQL\DATA\Bitm_University_Management_DB.mdf' , SIZE = 3136KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'Bitm_University_Management_DB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.REUD\MSSQL\DATA\Bitm_University_Management_DB_log.ldf' , SIZE = 1088KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Bitm_University_Management_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Bitm_University_Management_DB]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[AssignCourses]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AssignCourses](
	[AssignCourseId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[TeacherId] [int] NOT NULL,
	[CreditToBeTaken] [float] NOT NULL,
	[RemainingCredit] [float] NOT NULL,
	[CourseId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.AssignCourses] PRIMARY KEY CLUSTERED 
(
	[AssignCourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[CourseEnrolls]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CourseEnrolls](
	[CourseEnrollId] [int] IDENTITY(1,1) NOT NULL,
	[CourseId] [int] NOT NULL,
	[EnrollDate] [datetime] NOT NULL,
	[Student_StudentId] [int] NULL,
	[StudentRegNo] [int] NOT NULL,
	[GradeName] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.CourseEnrolls] PRIMARY KEY CLUSTERED 
(
	[CourseEnrollId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Courses]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Courses](
	[CourseId] [int] IDENTITY(1,1) NOT NULL,
	[CourseCode] [varchar](50) NOT NULL,
	[CourseName] [varchar](8000) NOT NULL,
	[CourseCredit] [float] NOT NULL,
	[CourseDescription] [varchar](8000) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[SemesterId] [int] NOT NULL,
	[AssignTo] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Courses] PRIMARY KEY CLUSTERED 
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Days]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Days](
	[DayId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_dbo.Days] PRIMARY KEY CLUSTERED 
(
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentCode] [varchar](7) NOT NULL,
	[DepartmentName] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_dbo.Departments] PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Designations]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Designations](
	[DesignationId] [int] IDENTITY(1,1) NOT NULL,
	[DesignationName] [varchar](8000) NULL,
 CONSTRAINT [PK_dbo.Designations] PRIMARY KEY CLUSTERED 
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Grades]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Grades](
	[GradeId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_dbo.Grades] PRIMARY KEY CLUSTERED 
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[People]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[PersonId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.People] PRIMARY KEY CLUSTERED 
(
	[PersonId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ResultEntries]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResultEntries](
	[ResultEntryId] [int] IDENTITY(1,1) NOT NULL,
	[StudentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[GradeId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.ResultEntries] PRIMARY KEY CLUSTERED 
(
	[ResultEntryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[RoomAllocations]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoomAllocations](
	[RoomAllocationId] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[CourseId] [int] NOT NULL,
	[RoomId] [int] NOT NULL,
	[DayId] [int] NOT NULL,
	[StartTime] [nvarchar](max) NOT NULL,
	[EndTime] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_dbo.RoomAllocations] PRIMARY KEY CLUSTERED 
(
	[RoomAllocationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Rooms]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Rooms](
	[RoomId] [int] IDENTITY(1,1) NOT NULL,
	[RoomNo] [varchar](8000) NOT NULL,
 CONSTRAINT [PK_dbo.Rooms] PRIMARY KEY CLUSTERED 
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Semesters]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Semesters](
	[SemesterId] [int] IDENTITY(1,1) NOT NULL,
	[SemesterName] [varchar](8000) NOT NULL,
	[Department_DepartmentId] [int] NULL,
 CONSTRAINT [PK_dbo.Semesters] PRIMARY KEY CLUSTERED 
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Students]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Students](
	[StudentId] [int] IDENTITY(1,1) NOT NULL,
	[RegNo] [varchar](8000) NULL,
	[Name] [varchar](8000) NOT NULL,
	[Email] [varchar](8000) NOT NULL,
	[ContactNO] [varchar](14) NOT NULL,
	[Date] [datetime] NOT NULL,
	[Address] [varchar](8000) NOT NULL,
	[DepartmentId] [int] NOT NULL,
 CONSTRAINT [PK_dbo.Students] PRIMARY KEY CLUSTERED 
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](8000) NOT NULL,
	[Address] [varchar](8000) NOT NULL,
	[Email] [varchar](50) NOT NULL,
	[ContactNo] [varchar](8000) NOT NULL,
	[DepartmentId] [int] NOT NULL,
	[DesignationId] [int] NOT NULL,
	[CreditToBeTaken] [float] NOT NULL,
 CONSTRAINT [PK_dbo.Teachers] PRIMARY KEY CLUSTERED 
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[Tests]    Script Date: 1/30/2016 2:20:40 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tests](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](max) NULL,
	[Age] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Tests] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET IDENTITY_INSERT [dbo].[AssignCourses] ON 

INSERT [dbo].[AssignCourses] ([AssignCourseId], [DepartmentId], [TeacherId], [CreditToBeTaken], [RemainingCredit], [CourseId]) VALUES (1, 5, 2, 15, 12, 2)
INSERT [dbo].[AssignCourses] ([AssignCourseId], [DepartmentId], [TeacherId], [CreditToBeTaken], [RemainingCredit], [CourseId]) VALUES (2, 5, 2, 15, 9, 3)
INSERT [dbo].[AssignCourses] ([AssignCourseId], [DepartmentId], [TeacherId], [CreditToBeTaken], [RemainingCredit], [CourseId]) VALUES (3, 6, 4, 20, 17, 9)
SET IDENTITY_INSERT [dbo].[AssignCourses] OFF
SET IDENTITY_INSERT [dbo].[CourseEnrolls] ON 

INSERT [dbo].[CourseEnrolls] ([CourseEnrollId], [CourseId], [EnrollDate], [Student_StudentId], [StudentRegNo], [GradeName]) VALUES (1, 2, CAST(0x0000A43D00000000 AS DateTime), NULL, 2, N'A+')
INSERT [dbo].[CourseEnrolls] ([CourseEnrollId], [CourseId], [EnrollDate], [Student_StudentId], [StudentRegNo], [GradeName]) VALUES (2, 3, CAST(0x0000A43D00000000 AS DateTime), NULL, 3, NULL)
INSERT [dbo].[CourseEnrolls] ([CourseEnrollId], [CourseId], [EnrollDate], [Student_StudentId], [StudentRegNo], [GradeName]) VALUES (3, 3, CAST(0x0000A58300000000 AS DateTime), NULL, 2, NULL)
SET IDENTITY_INSERT [dbo].[CourseEnrolls] OFF
SET IDENTITY_INSERT [dbo].[Courses] ON 

INSERT [dbo].[Courses] ([CourseId], [CourseCode], [CourseName], [CourseCredit], [CourseDescription], [DepartmentId], [SemesterId], [AssignTo]) VALUES (2, N'00411', N'web engineering', 3, N'php mysql', 5, 8, N'selim')
INSERT [dbo].[Courses] ([CourseId], [CourseCode], [CourseName], [CourseCredit], [CourseDescription], [DepartmentId], [SemesterId], [AssignTo]) VALUES (3, N'00412', N'web engineering Practical', 3, N'its practical subject', 5, 8, N'selim')
INSERT [dbo].[Courses] ([CourseId], [CourseCode], [CourseName], [CourseCredit], [CourseDescription], [DepartmentId], [SemesterId], [AssignTo]) VALUES (4, N'00413', N'network security', 3, N'network related subject', 5, 8, NULL)
SET IDENTITY_INSERT [dbo].[Courses] OFF
SET IDENTITY_INSERT [dbo].[Days] ON 

INSERT [dbo].[Days] ([DayId], [Name]) VALUES (1, N'Saturday')
INSERT [dbo].[Days] ([DayId], [Name]) VALUES (2, N'Sunday')
INSERT [dbo].[Days] ([DayId], [Name]) VALUES (3, N'Monday')
SET IDENTITY_INSERT [dbo].[Days] OFF
SET IDENTITY_INSERT [dbo].[Departments] ON 

INSERT [dbo].[Departments] ([DepartmentId], [DepartmentCode], [DepartmentName]) VALUES (5, N'CSE', N'computer science and engineering')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentCode], [DepartmentName]) VALUES (6, N'EEE', N'Electronic and electrical engineering')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentCode], [DepartmentName]) VALUES (7, N'IT', N'Information Technology')
SET IDENTITY_INSERT [dbo].[Departments] OFF
SET IDENTITY_INSERT [dbo].[Designations] ON 

INSERT [dbo].[Designations] ([DesignationId], [DesignationName]) VALUES (1, N'Head')
INSERT [dbo].[Designations] ([DesignationId], [DesignationName]) VALUES (2, N'Asst Head')
INSERT [dbo].[Designations] ([DesignationId], [DesignationName]) VALUES (3, N'Professor')
SET IDENTITY_INSERT [dbo].[Designations] OFF
SET IDENTITY_INSERT [dbo].[Grades] ON 

INSERT [dbo].[Grades] ([GradeId], [Name]) VALUES (1, N'A+')
INSERT [dbo].[Grades] ([GradeId], [Name]) VALUES (2, N'A')
INSERT [dbo].[Grades] ([GradeId], [Name]) VALUES (3, N'A-')
SET IDENTITY_INSERT [dbo].[Grades] OFF
SET IDENTITY_INSERT [dbo].[ResultEntries] ON 

INSERT [dbo].[ResultEntries] ([ResultEntryId], [StudentId], [CourseId], [GradeId]) VALUES (1, 2, 2, 1)
INSERT [dbo].[ResultEntries] ([ResultEntryId], [StudentId], [CourseId], [GradeId]) VALUES (2, 2, 4, 1)
SET IDENTITY_INSERT [dbo].[ResultEntries] OFF
SET IDENTITY_INSERT [dbo].[RoomAllocations] ON 

INSERT [dbo].[RoomAllocations] ([RoomAllocationId], [DepartmentId], [CourseId], [RoomId], [DayId], [StartTime], [EndTime]) VALUES (1, 5, 2, 1, 1, N'10:00', N'10:30')
INSERT [dbo].[RoomAllocations] ([RoomAllocationId], [DepartmentId], [CourseId], [RoomId], [DayId], [StartTime], [EndTime]) VALUES (2, 5, 2, 1, 1, N'10:30', N'11:00')
INSERT [dbo].[RoomAllocations] ([RoomAllocationId], [DepartmentId], [CourseId], [RoomId], [DayId], [StartTime], [EndTime]) VALUES (3, 6, 9, 2, 1, N'10:00', N'10:30')
SET IDENTITY_INSERT [dbo].[RoomAllocations] OFF
SET IDENTITY_INSERT [dbo].[Rooms] ON 

INSERT [dbo].[Rooms] ([RoomId], [RoomNo]) VALUES (1, N'401')
INSERT [dbo].[Rooms] ([RoomId], [RoomNo]) VALUES (2, N'402')
INSERT [dbo].[Rooms] ([RoomId], [RoomNo]) VALUES (3, N'403')
SET IDENTITY_INSERT [dbo].[Rooms] OFF
SET IDENTITY_INSERT [dbo].[Semesters] ON 

INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [Department_DepartmentId]) VALUES (1, N'1st', NULL)
INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [Department_DepartmentId]) VALUES (2, N'2nd', NULL)
INSERT [dbo].[Semesters] ([SemesterId], [SemesterName], [Department_DepartmentId]) VALUES (3, N'3rd', NULL)
SET IDENTITY_INSERT [dbo].[Semesters] OFF
SET IDENTITY_INSERT [dbo].[Students] ON 

INSERT [dbo].[Students] ([StudentId], [RegNo], [Name], [Email], [ContactNO], [Date], [Address], [DepartmentId]) VALUES (1, NULL, N'rehanuddin', N'rehanshima@gmail.com', N'01674194142', CAST(0x0000A58500000000 AS DateTime), N'dhaka banasree', 5)
INSERT [dbo].[Students] ([StudentId], [RegNo], [Name], [Email], [ContactNO], [Date], [Address], [DepartmentId]) VALUES (2, N'EEE-2016-001', N'sabbir', N'sabbir@hotmail.com', N'01674194142', CAST(0x0000A58400000000 AS DateTime), N'fe', 6)
INSERT [dbo].[Students] ([StudentId], [RegNo], [Name], [Email], [ContactNO], [Date], [Address], [DepartmentId]) VALUES (3, N'EEE-2016-001', N'sabbir', N'sabbir@hotmail.com', N'01674194142', CAST(0x0000A58400000000 AS DateTime), N'fe', 6)
SET IDENTITY_INSERT [dbo].[Students] OFF
SET IDENTITY_INSERT [dbo].[Teachers] ON 

INSERT [dbo].[Teachers] ([TeacherId], [Name], [Address], [Email], [ContactNo], [DepartmentId], [DesignationId], [CreditToBeTaken]) VALUES (2, N'selim', N'dhaka', N'selim@hotmail.com', N'01674194142', 5, 1, 15)
INSERT [dbo].[Teachers] ([TeacherId], [Name], [Address], [Email], [ContactNo], [DepartmentId], [DesignationId], [CreditToBeTaken]) VALUES (3, N'jasim', N'feni', N'jasim@hotmail.com', N'01674194142', 5, 2, 10)
INSERT [dbo].[Teachers] ([TeacherId], [Name], [Address], [Email], [ContactNo], [DepartmentId], [DesignationId], [CreditToBeTaken]) VALUES (4, N'jasim', N'banani', N'jasim2@hotmail.com', N'01674194142', 6, 5, 20)
SET IDENTITY_INSERT [dbo].[Teachers] OFF
/****** Object:  Index [IX_CourseId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[AssignCourses]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[AssignCourses]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_TeacherId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_TeacherId] ON [dbo].[AssignCourses]
(
	[TeacherId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[CourseEnrolls]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Student_StudentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Student_StudentId] ON [dbo].[CourseEnrolls]
(
	[Student_StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Courses]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_SemesterId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_SemesterId] ON [dbo].[Courses]
(
	[SemesterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[ResultEntries]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_GradeId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_GradeId] ON [dbo].[ResultEntries]
(
	[GradeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_StudentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_StudentId] ON [dbo].[ResultEntries]
(
	[StudentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_CourseId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_CourseId] ON [dbo].[RoomAllocations]
(
	[CourseId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DayId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DayId] ON [dbo].[RoomAllocations]
(
	[DayId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[RoomAllocations]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_RoomId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_RoomId] ON [dbo].[RoomAllocations]
(
	[RoomId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Department_DepartmentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_Department_DepartmentId] ON [dbo].[Semesters]
(
	[Department_DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Students]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DepartmentId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DepartmentId] ON [dbo].[Teachers]
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_DesignationId]    Script Date: 1/30/2016 2:20:41 AM ******/
CREATE NONCLUSTERED INDEX [IX_DesignationId] ON [dbo].[Teachers]
(
	[DesignationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[CourseEnrolls] ADD  DEFAULT ((0)) FOR [StudentRegNo]
GO
ALTER TABLE [dbo].[AssignCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignCourses_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[AssignCourses] CHECK CONSTRAINT [FK_dbo.AssignCourses_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[AssignCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignCourses_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[AssignCourses] CHECK CONSTRAINT [FK_dbo.AssignCourses_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[AssignCourses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.AssignCourses_dbo.Teachers_TeacherId] FOREIGN KEY([TeacherId])
REFERENCES [dbo].[Teachers] ([TeacherId])
GO
ALTER TABLE [dbo].[AssignCourses] CHECK CONSTRAINT [FK_dbo.AssignCourses_dbo.Teachers_TeacherId]
GO
ALTER TABLE [dbo].[CourseEnrolls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CourseEnrolls_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[CourseEnrolls] CHECK CONSTRAINT [FK_dbo.CourseEnrolls_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[CourseEnrolls]  WITH CHECK ADD  CONSTRAINT [FK_dbo.CourseEnrolls_dbo.Students_Student_StudentId] FOREIGN KEY([Student_StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[CourseEnrolls] CHECK CONSTRAINT [FK_dbo.CourseEnrolls_dbo.Students_Student_StudentId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Courses]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Courses_dbo.Semesters_SemesterId] FOREIGN KEY([SemesterId])
REFERENCES [dbo].[Semesters] ([SemesterId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Courses] CHECK CONSTRAINT [FK_dbo.Courses_dbo.Semesters_SemesterId]
GO
ALTER TABLE [dbo].[ResultEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ResultEntries_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[ResultEntries] CHECK CONSTRAINT [FK_dbo.ResultEntries_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[ResultEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ResultEntries_dbo.Grades_GradeId] FOREIGN KEY([GradeId])
REFERENCES [dbo].[Grades] ([GradeId])
GO
ALTER TABLE [dbo].[ResultEntries] CHECK CONSTRAINT [FK_dbo.ResultEntries_dbo.Grades_GradeId]
GO
ALTER TABLE [dbo].[ResultEntries]  WITH CHECK ADD  CONSTRAINT [FK_dbo.ResultEntries_dbo.Students_StudentId] FOREIGN KEY([StudentId])
REFERENCES [dbo].[Students] ([StudentId])
GO
ALTER TABLE [dbo].[ResultEntries] CHECK CONSTRAINT [FK_dbo.ResultEntries_dbo.Students_StudentId]
GO
ALTER TABLE [dbo].[RoomAllocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomAllocations_dbo.Courses_CourseId] FOREIGN KEY([CourseId])
REFERENCES [dbo].[Courses] ([CourseId])
GO
ALTER TABLE [dbo].[RoomAllocations] CHECK CONSTRAINT [FK_dbo.RoomAllocations_dbo.Courses_CourseId]
GO
ALTER TABLE [dbo].[RoomAllocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomAllocations_dbo.Days_DayId] FOREIGN KEY([DayId])
REFERENCES [dbo].[Days] ([DayId])
GO
ALTER TABLE [dbo].[RoomAllocations] CHECK CONSTRAINT [FK_dbo.RoomAllocations_dbo.Days_DayId]
GO
ALTER TABLE [dbo].[RoomAllocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomAllocations_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[RoomAllocations] CHECK CONSTRAINT [FK_dbo.RoomAllocations_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[RoomAllocations]  WITH CHECK ADD  CONSTRAINT [FK_dbo.RoomAllocations_dbo.Rooms_RoomId] FOREIGN KEY([RoomId])
REFERENCES [dbo].[Rooms] ([RoomId])
GO
ALTER TABLE [dbo].[RoomAllocations] CHECK CONSTRAINT [FK_dbo.RoomAllocations_dbo.Rooms_RoomId]
GO
ALTER TABLE [dbo].[Semesters]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Semesters_dbo.Departments_Department_DepartmentId] FOREIGN KEY([Department_DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
GO
ALTER TABLE [dbo].[Semesters] CHECK CONSTRAINT [FK_dbo.Semesters_dbo.Departments_Department_DepartmentId]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Students_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK_dbo.Students_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Departments_DepartmentId] FOREIGN KEY([DepartmentId])
REFERENCES [dbo].[Departments] ([DepartmentId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Departments_DepartmentId]
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Teachers_dbo.Designations_DesignationId] FOREIGN KEY([DesignationId])
REFERENCES [dbo].[Designations] ([DesignationId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK_dbo.Teachers_dbo.Designations_DesignationId]
GO
USE [master]
GO
