<div class="form-group">
    <div class="col-md-10">
        <div id="CourseInfo">
            <table>
                <tr>
                    <td><span style="color: black; font-size: 24px; font-weight: bold; margin-left: 80px;">Name:</span> </td>
                    <td style="color: black; font-size: 24px; font-weight: bold;">@ViewBag.Name</td>
                </tr>
                <tr>
                    <td><span style="color: black; font-size: 24px; font-weight: bold; margin-left: 80px;">Credit:</span> </td>
                    <td style="color: black; font-size: 24px; font-weight: bold;">@ViewBag.Credit</td>
                </tr>
            </table>
        </div>
    </div>
</div>

