<div class="form-group">
    <div class="col-md-10">
        <div id="StudentInfo">
            <table>
                <tr>
                    <td>Name: </td>
                    <td>@ViewBag.Name</td>
                </tr>
                <tr>
                    <td>Email: </td>
                    <td>@ViewBag.Email</td>
                </tr>
                <tr>
                    <td>Department:  </td>
                    <td>@ViewBag.Dept</td>
                </tr>
            </table>
        </div>
    </div>
</div>