<div class="form-group">
    <div class="col-md-10">
        <div id="TeacherInfo">
            <table>
                <tr>
                    <td><span style="color: black; font-size: 24px; font-weight: bold; margin-left: 80px;">Credit to be taken: </span></td>
                    <td style="color: black; font-size: 24px; font-weight: bold;">@ViewBag.Credit</td>
                </tr>
                <tr>
                    <td><span style="color: black; font-size: 24px; font-weight: bold; margin-left: 80px;">Remaining Credit: </span></td>
                    <td style="color: black; font-size: 24px; font-weight: bold;">@ViewBag.RemainingCredit</td>
                </tr>
            </table>
        </div>
    </div>
</div>