@{
    ViewBag.Title = "Assign Confirmed";
}

<h2>Assign Confirmed</h2>

<div>
    <h3 style="color: chocolate">@TempData["Already"]</h3>
</div>

<p class="btn btn-success">
    @Html.ActionLink("Assaign Course", "Create")
</p>

